body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #B1E8BD;
}

h3 {
  padding-left: 5%;
  padding-right: 5%;

}

.shadowed {
  text-shadow: 0px 0px 15px #B1E8BD
}

.background {
  z-index: -99;
  opacity: 0.3;
  position: fixed;
  width: 100%;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.centered {
  justify-content: center;
}

.v-centered {
  align-items: center;
}

.small-text {
  font-size: 10pt;
}

.tiny-text {
  font-size: 7pt;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.blade {
  background-color: #40C25D;
  width: 33.3%;
  padding-top: 1.5em;
  margin-top: 1em;
  opacity: 0.7;
  border: 1px solid grey;
}

.card {
  background-color: #378F9F;
  color: white;
  border: 1px solid black;
  padding: 0.4em;
  margin-top: 0.2em;
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  box-shadow: 4px 4px 0px 1px #00831D;
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.hoverable {
  opacity: 0.8
}

.hoverable:hover {
  opacity: 1
}

.selected {
  background-color: #475FAE;
  opacity: 1;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
}

.v-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
