

.container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
}

.v-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
